<div class="main contact">
	<div class="container">
		<h2> <span class="contact">Contact Me </span> </h2>
		
		<div class="row">
			<div class="col-md-2">
				<a><%= link_to 'https://github.com/dpe724' do %>
          <%=image_tag asset_path("github-sign.png") %>
          <%end%></a>
			</div>
			<div class="row">
			<div class="col-md-2">
				<a><%= link_to 'https://www.linkedin.com/in/david-esposito-b7a146127/' do %>
        <%=image_tag asset_path("linkedin-logo.png") %>
        <%end%></a>
			</div>
			<div class="row">
			<div class="col-md-2">
				<a href="mailto:dpe724@gmail.com"><%= image_tag image_path('mail.png')%> </a>
			</div>

		</div>
	</div>
</div>