<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
   

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
          
          <ul>
          <li> 
      <a href="<%=root_path%>"> Welcome </a>
    </li>
    <li>
      <a href="/portfolio/"> Portfolio </a>
    </li>
    <li>
      <a href="/about/"> About </a>
    </li>
    <li>
      <a href="/contact/"> Contact </a>
    </li>
  </ul>
      </div>
      
      <div class="name col-xs-4">
        <h1> David P. Esposito </h1>
      </div>
      
      </div>
    </div>
  </div>
</div>

    <%= yield %>

<div class="footer">
    <div class="container">
      <ul class="social_media">
          <li>
          <%= link_to 'https://github.com/dpe724' do %>
          <%=image_tag asset_path("github-sign.png") %>
          <%end%>
        </li>
        <li>
          <%= link_to 'https://www.instagram.com/thedavenextdoor/' do %>
        <%=image_tag asset_path("instagram-social-network-logo-of-photo-camera.png") %>
        <%end%>
      </li>
          <li>
        <%= link_to 'https://www.linkedin.com/in/david-esposito-b7a146127/' do %>
        <%=image_tag asset_path("linkedin-logo.png") %>
        <%end%>
      </li>
    </li>
      <a id="mail" class= "image" href="mailto:dpe724@gmail.com"><%= image_tag image_path('mail.png')%> </a>
      
      </li>
  </ul>
    <p> © 2017 David P. Esposito
      </p>
  </div>
</div>
    
  </body>
</html>
